<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<head>
  <style type="text/css">
    html,
    body {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    table.report-container {
      page-break-after: always;
    }

    thead.report-header {
      display: table-header-group;
    }

    tfoot.report-footer {
      display: table-footer-group;
      background-color: gray;
    }
  </style>
</head>
<body ng-app="myApp" ng-controller="myCtrl"
  style="font-size:16px; line-height:20px; margin:0; padding:0 0 30px; background-color: #F3F3F3; width:1000px; margin:0 auto;">
  <table class="report-container">
    <thead class="report-header">
      <tr>
        <th class="report-header-cell">
          <header class="report-title">I am header</header>
        </th>
      </tr>
    </thead>
    <tbody class="report-content">
      <tr>
        <td>
          <!-- Main Div element -->
          <div id="report-master-tag">
            <!-- Doctors and Other health care div -->
            <div>
              <div id="doctor-header" ng-if="masterDataModel.doctor.length > 0">
                <div style="padding:20px 0;">
                  <img src="personal-profile.png" style="display:inline-block; vertical-align:middle; width:5%;" />
                  <span
                    style="display:inline-block; color: #2AABE1; font-weight: 400; font-size:19px; vertical-align:middle; margin-left:10px;">Doctors
                    & Other Health Care Professionals</span>
                </div>
                <div id="personal-relationship"
                  style="margin:0; margin-bottom: 10px; padding: 15px; background-color:#fff; border:2px solid #ddd; border-radius:10px;"
                  ng-repeat="user in masterDataModel.doctor">
                  <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;"
                    ng-repeat="(key, value) in user">
                    <label style="display:block; font-size:14px; color: #747474;">{{ key + ":" }}</label>
                    <span id="user-name"
                      style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;"
                      ng-if="value.length > 0">{{ value }}</span>
                    <span id="user-name"
                      style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd; color:#737373"
                      ng-if="value.length === 0">Field is Empty</span>
                  </div>
                  <div class="clearfix" style="clear:both; display:block;
                    content:"";">
                  </div>
                </div>
              </div>
            </div>
        </td>
      </tr>
    </tbody>
    <tfoot class="report-footer">
      <tr>
        <td>
          <footer>
            <div>
              <div style="float:left; padding:10px">
                <strong style=" display:inline-block; vertical-align:middle; margin-left:10px;">www.Google.com</strong>
              </div>
              <div style="float:right; width:auto; padding:10px 0; ">
                <!-- <strong
                    style="vertical-align:middle; display:inline-block; margin-right:10px;"
                    >Page 1</strong
                  > -->
              </div>
            </div>
          </footer>
        </td>
      </tr>
    </tfoot>
  </table>
</body>

<script>
  function getScope() {
    var outside = angular
      .element(document.getElementById("report-master-tag"))
      .scope();
    return outside;
  }

  function changeScopeUserModel(userInfo) {
    debugger;
    var $scope = getScope();
    $scope.masterDataModel = userInfo;
    console.log($scope.masterDataModel);
    $scope.$apply();
  }

  var app = angular.module("myApp", []);
  app.controller("myCtrl", function ($scope) {
    $scope.todayDate = new Date().toISOString().slice(0, 10);
    var doctorModel = [{
        Speciality: "Gynechologist",
        Name: "Dr Jill Fishbane-Mayer-Gyno",
        Address: "4 East 95th St 1a NY NY USA",
        Website: "",
        "Medical Practice Name": "",
        "Hospital Affiliations": "",
        "In Network Status": "",
        "Last Seen": "",
        "Electionic Health Record Link": "",
        Notes: "",
        Contact1: "Office:(212) 348-1111",
        Contact2: "Mobile:(212)348-1111"
      },
      {
        Speciality: "Gynechologist",
        Name: "Dr Bruce-Mayer-Gyno",
        Address: "45 East 95th St 1a NY NY USA",
        Website: "",
        "Medical Practice Name": "",
        "Hospital Affiliations": "",
        "In Network Status": "",
        "Last Seen": "",
        "Electionic Health Record Link": "",
        Notes: "",
        Contact1: "Office:(218) 348-1111",
        Contact2: "Mobile:(217)348-1111"
      },
      {
        Speciality: "Gynechologist",
        Name: "Dr Tony Stark",
        Address: "435 East 95th St 1a NY NY USA",
        Website: "",
        "Medical Practice Name": "",
        "Hospital Affiliations": "",
        "In Network Status": "",
        "Last Seen": "",
        "Electionic Health Record Link": "",
        Notes: "",
        Contact1: "Office:(218) 348-1111",
        Contact2: "Mobile:(217)348-1111"
      },
      {
        Speciality: "Gynechologist",
        Name: "Dr Bruce Banner",
        Address: "415 East 95th St 1a NY NY USA",
        Website: "",
        "Medical Practice Name": "",
        "Hospital Affiliations": "",
        "In Network Status": "",
        "Last Seen": "",
        "Electionic Health Record Link": "",
        Notes: "",
        Contact1: "Office:(218) 348-1111",
        Contact2: "Mobile:(217)348-1111"
      }
    ];

    $scope.doctorModelList = doctorModel;

    $scope.masterDataModel = {
      doctor: $scope.doctorModelList
    };
  });
</script>

</html>
