<!DOCTYPE html>
<html lang="en">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
  <head>
    <meta charset="utf-8" />
    <title>Mylo reports</title>
    <style type="text/css">
      body {
        font-family: "Lato", sans-serif;
        font-size: 16px;
        line-height: 20px;
        margin: 0;
        padding: 0 0 30px;
        background-color: #f3f3f3;
        width: 1000px;
        margin: 0 auto;
      }
      #page-header {
        width: 100%;
        background-color: gray;
        text-align: center;
        margin-right: 40px;
        position: relative;
      }

      #page-header {
        top: 0;
      }

      #page-footer {
        bottom: 0;
        width: 100%;
        height: 40px;
        display: flex;
        background-color: #4b4b4b;
        position: relative;
        page-break-after: always;
      }

      #page-header-image {
        width: 100%;
      }

      .centered-header-image-text,#personal-medical-profile-header {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-bottom: 20px;
        color: white;
        font-size: 30px;
        transform: translate(-50%, -50%);
      }

      #personal-medical-profile-header{
        font-size: 16px;
      }


      #company-website-footer {
        text-align: left;
        margin-left: 10px;
        justify-content: flex-start;
        color: #8e8e8e;
      }

      #page-number {
        /* I am not sure how to get the margin adjust by itself */
        margin-left: 590px;
        justify-content: flex-end;
        margin-right: 30px;
        color: #8e8e8e;
      }

      #page-body,
      #pet-body {
        border-radius: 10px;
        margin-bottom: 20px;
        padding-left: 20px;
        background-color: white;
        border-radius: 20px;
        border: 2px solid gray;
        page-break-after: avoid;
      }
      #pet-body {
        margin-right: 20px;
      }

      label {
        display: block;
        font-size: 14px;
        color: #747474;
      }

      #label-data-content,
      #notes-bottom-line {
        display: block;
        width: 100%;
        padding: 10px 0;
        border-bottom: 3px solid #ddd;
        font-weight: bold;
      }
      #notes-bottom-line {
        width: 97%;
      }

      #hasPets {
        display: block;
        width: 100%;
        border-bottom: 3px solid #ddd;
        font-weight: bold;
      }
      #span-empty-field {
        color: #747474;
        display: block;
        width: 100%;
        padding: 10px 0;
        border-bottom: 3px solid #ddd;
        font-weight: bold;
      }

      #report-type {
        display: inline-block;
        color: #2aabe1;
        font-size: 25px;
        vertical-align: middle;
        margin-left: 10px;
      }

      .clearfix {
        clear: both;
        display: block;
      }

      .clearfix::after {
        content: "";
        clear: both;
        display: block;
      }
      #top-header {
        width: auto;
        background-color: white;
        padding: 20px;
        display: flex;
        flex-wrap: space-between;
      }

      #user-icon {
        float: left;
        width: 40px;
        padding: 15px;
      }
      #user-name-container {
        justify-content: flex-start;
        flex: 1;
        padding: 15px 0px;
      }
      #today-date {
        padding: 15px 0px;
        justify-content: flex-end;
      }

      #app-logo {
        flex: 1;
        justify-content: center;
        margin-right: 100px;
      }

      #content-div {
        width: 47%;
        padding: 0 10px;
        display: inline-block;
        margin: 0 0 10px;
      }

      #doctor-content,
      #hospital-content,
      #pharmacy-content,
      #personal-profile-content {
        margin-top: 30px;
        margin-bottom: 30px;
      }
      #allergy-content {
        margin-top: 30px;
        margin-bottom: 30px;
      }

      #group-border,
      #pre-Existing-Medical-group {
        border-radius: 20px;
        border: 2px solid gray;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 40px;
        background-color: white;
        page-break-before: avoid;
      }
      #pre-Existing-Medical-group {
        margin-bottom: 10px;
      }
    </style>
  </head>

  <body ng-app="myApp" ng-controller="myCtrl">
    <div id="page-main-body">
      <!-- Top most header of the report -->
      <div id="top-header">
        <div id="user-name-container">
          <img src="user-icon.png" style="vertical-align:middle;" />
          <strong id="user-name">{{ masterDataModel.username }}</strong>
        </div>

        <div id="app-logo">
          <img src="header-logo.png" />
        </div>

        <div id="today-date">
          <img src="calendar-icon.png" style="vertical-align:middle;" />
          <strong>{{ todayDate }}</strong>
        </div>
      </div>
      <div id="container" ng-repeat="doctor in masterDataModel.doctor">
        <div id="page-header" ng-hide="$odd">
          <strong class="centered-header-image-text"
            >SPECIALITY CONTACTS</strong
          >
          <img id="page-header-image" src="gradiant.png" />
        </div>

        <div style="padding:20px 0;" ng-hide="$odd">
          <img
            src="https://static.thenounproject.com/png/157453-200.png"
            style="display:inline-block; vertical-align:middle; width:5%;"
          />
          <span id="report-type"
            >Doctors & Other Health Care Professionals</span
          >
        </div>
        <!-- this is a hack because the angular digest cycle does not appreicate
        counter value being changed at runtime so, if the array element is a
        collection of count of odd numbers then we add one more element in the
        script tag.
         I tried using $last but since we use the same div footer it's difficult
        to add ng-show and ng-hide to same element and hence the hack -->
        <div id="page-body" ng-if="doctor.name.length > 0">
          <div id="doctor-content">
            <!-- Doctor Specialist field -->
            <div id="content-div">
              <label>Speciality:</label>
              <span
                id="label-data-content"
                ng-if="doctor.speciality.length > 0"
                >{{ doctor.speciality }}</span
              >
              <span id="span-empty-field" ng-if="doctor.speciality.length === 0"
                >Field is Empty</span
              >
            </div>
            <!-- Doctor Name field -->
            <div id="content-div">
              <label>Name:</label>
              <span id="label-data-content" ng-if="doctor.name.length > 0">{{
                doctor.name
              }}</span>
              <span id="span-empty-field" ng-if="doctor.name.length === 0"
                >Field is Empty</span
              >
            </div>
            <!-- Doctor Address field -->
            <div id="content-div">
              <label>Address:</label>
              <span id="label-data-content" ng-if="doctor.address.length > 0">{{
                doctor.address
              }}</span>
              <span id="span-empty-field" ng-if="doctor.address.length === 0"
                >Field is Empty</span
              >
            </div>
            <!-- Doctor Website field -->
            <div id="content-div">
              <label>Website:</label>
              <span id="label-data-content" ng-if="doctor.website.length > 0">{{
                doctor.website
              }}</span>
              <span id="span-empty-field" ng-if="doctor.website.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- Doctor Medical practice field -->
            <div id="content-div">
              <label>Medical Practice Name:</label>
              <span ng-if="doctor.medicalPracticeName.length > 0">{{
                doctor.medicalPracticeName
              }}</span>
              <span
                id="span-empty-field"
                ng-if="doctor.medicalPracticeName.length === 0"
                >Field is Empty</span
              >
            </div>
            <!-- Doctor Hospital Affiliations field -->
            <div id="content-div">
              <label>Hospital Affiliations:</label>
              <span id="label-data-content">TBD</span>
            </div>
            <!-- Doctor In Network Status field -->
            <div id="content-div">
              <label>In Network Status:</label>
              <span
                id="label-data-content"
                ng-if="doctor.inNetworkStatus.length > 0"
                >{{ doctor.inNetworkStatus }}</span
              >
              <span
                id="span-empty-field"
                ng-if="doctor.inNetworkStatus.length === 0"
                >Field is Empty</span
              >
            </div>
            <!-- Doctor Last Seen: field -->
            <div id="content-div">
              <label>Last Seen:</label>
              <span
                id="label-data-content"
                ng-if="doctor.lastSceen.length > 0"
                >{{ doctor.lastSceen }}</span
              >
              <span id="span-empty-field" ng-if="doctor.lastSceen.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- Doctor Electronic Health Record Link field -->
            <div id="content-div">
              <label>Electronic Health Record Link</label>
              <span
                id="label-data-content"
                ng-if="doctor.electronicHealthRecordLink.length > 0"
                >{{ doctor.electronicHealthRecordLink }}</span
              >
              <span
                id="span-empty-field"
                ng-if="doctor.electronicHealthRecordLink.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- Doctor Notes field -->
            <div id="content-div">
              <label>Notes:</label>
              <span id="label-data-content" ng-if="doctor.notes.length > 0">{{
                doctor.notes
              }}</span>
              <span id="span-empty-field" ng-if="doctor.notes.length === 0"
                >Field is Empty</span
              >
            </div>
            <!-- Doctor Contact1 field -->
            <!-- TODO: Need to make this field dynamic based on a collection -->
            <div id="content-div">
              <label>Contact1:</label>
              <span
                id="label-data-content"
                ng-if="doctor.contact1.length > 0"
                >{{ doctor.contact1 }}</span
              >
              <span id="span-empty-field" ng-if="doctor.contact1.length === 0"
                >Field is Empty</span
              >
            </div>
            <!-- Doctor Contact2: field -->
            <div id="content-div">
              <label>Contact2:</label>
              <span
                id="label-data-content"
                ng-if="doctor.contact2.length > 0"
                >{{ doctor.contact2 }}</span
              >
              <span id="span-empty-field" ng-if="doctor.contact2.length === 0"
                >Field is Empty</span
              >
            </div>
          </div>
        </div>

        <div id="page-footer" ng-hide="$even">
          <p id="company-website-footer">www.google.com</p>
          <p id="page-number">Page: 1</p>
        </div>
      </div>

      <div id="container" ng-repeat="hospital in masterDataModel.hospital">
        <div id="page-header" ng-hide="$odd">
          <strong class="centered-header-image-text"
            >SPECIALITY CONTACTS</strong
          >
          <img id="page-header-image" src="gradiant.png" />
        </div>

        <div style="padding:20px 0;" ng-hide="$odd">
          <img
            src="https://static.thenounproject.com/png/157453-200.png"
            style="display:inline-block; vertical-align:middle; width:5%;"
          />
          <span id="report-type"
            >Hospitals, Rehabilitation Centers, and Home Health Care Agencies
            :</span
          >
        </div>

        <div id="page-body" ng-if="hospital.name.length > 0">
          <div id="hospital-content">
            <!-- hospital Specialist field -->
            <div id="content-div">
              <label>Category:</label>
              <span
                id="label-data-content"
                ng-if="hospital.category.length > 0"
                >{{ hospital.category }}</span
              >
              <span id="span-empty-field" ng-if="hospital.category.length === 0"
                >Field is Empty</span
              >
            </div>
            <!-- hospital Name field -->
            <div id="content-div">
              <label>Name:</label>
              <span id="label-data-content" ng-if="hospital.name.length > 0">{{
                hospital.name
              }}</span>
              <span id="span-empty-field" ng-if="hospital.Name.length === 0"
                >Field is Empty</span
              >
            </div>
            <!-- hospital Address field -->
            <div id="content-div">
              <label>Address:</label>
              <span
                id="label-data-content"
                ng-if="hospital.address.length > 0"
                >{{ hospital.address }}</span
              >
              <span id="span-empty-field" ng-if="hospital.address.length === 0"
                >Field is Empty</span
              >
            </div>
            <!-- hospital Website field -->
            <div id="content-div">
              <label>Website:</label>
              <span
                id="label-data-content"
                ng-if="hospital.website.length > 0"
                >{{ hospital.website }}</span
              >
              <span id="span-empty-field" ng-if="hospital.website.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- hospital Website field -->
            <div id="content-div">
              <label>In Network status:</label>
              <span
                id="label-data-content"
                ng-if="hospital.inNetworkStatus.length > 0"
                >{{ hospital.inNetworkStatus }}</span
              >
              <span
                id="span-empty-field"
                ng-if="hospital.inNetworkStatus.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- hospital Last Seen: field -->
            <div id="content-div">
              <label>Last Seen:</label>
              <span
                id="label-data-content"
                ng-if="hospital.lastSceen.length > 0"
                >{{ hospital.lastSceen }}</span
              >
              <span
                id="span-empty-field"
                ng-if="hospital.lastSceen.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- hospital Electronic Health Record Link field -->
            <div id="content-div">
              <label>Electronic Health Record Link</label>
              <span
                id="label-data-content"
                ng-if="hospital.electronicHealthCarePatientPortal.length > 0"
                >{{ hospital.electronicHealthCarePatientPortal }}</span
              >
              <span
                id="span-empty-field"
                ng-if="hospital.electronicHealthCarePatientPortal.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- hospital Notes field -->
            <div id="content-div">
              <label>Notes:</label>
              <span id="label-data-content" ng-if="hospital.notes.length > 0">{{
                hospital.notes
              }}</span>
              <span id="span-empty-field" ng-if="hospital.notes.length === 0"
                >Field is Empty</span
              >
            </div>
            <!-- hospital Contact1 field -->
            <!-- TODO: Need to make this field dynamic based on a collection -->
            <div id="content-div">
              <label>Contact1:</label>
              <span
                id="label-data-content"
                ng-if="hospital.contact1.length > 0"
                >{{ hospital.contact1 }}</span
              >
              <span id="span-empty-field" ng-if="hospital.contact1.length === 0"
                >Field is Empty</span
              >
            </div>
            <!-- hospital Contact2: field -->
            <div id="content-div">
              <label>Contact2:</label>
              <span
                id="label-data-content"
                ng-if="hospital.contact2.length > 0"
                >{{ hospital.contact2 }}</span
              >
              <span id="span-empty-field" ng-if="hospital.contact2.length === 0"
                >Field is Empty</span
              >
            </div>
          </div>
        </div>

        <div id="page-footer" ng-hide="$even">
          <p id="company-website-footer">www.google.com</p>
          <p id="page-number">Page: 1</p>
        </div>
      </div>

      <div id="container" ng-repeat="pharmacy in masterDataModel.pharmacy">
        <div id="page-header" ng-hide="$odd">
          <strong class="centered-header-image-text"
            >SPECIALITY CONTACTS</strong
          >
          <img id="page-header-image" src="gradiant.png" />
        </div>

        <div style="padding:20px 0;" ng-hide="$odd">
          <img
            src="https://static.thenounproject.com/png/157453-200.png"
            style="display:inline-block; vertical-align:middle; width:5%;"
          />
          <span id="report-type">Pharmacies And Home Medical Equipment:</span>
        </div>

        <div id="page-body" ng-if="pharmacy.name.length > 0">
          <div id="pharmacy-content">
            <!-- pharmacy Name field -->
            <div id="content-div">
              <label>Name:</label>
              <span id="label-data-content" ng-if="pharmacy.name.length > 0">{{
                pharmacy.name
              }}</span>
              <span id="span-empty-field" ng-if="pharmacy.name.length === 0"
                >Field is Empty</span
              >
            </div>
            <!-- pharmacy Address field -->
            <div id="content-div">
              <label>Address:</label>
              <span
                id="label-data-content"
                ng-if="pharmacy.address.length > 0"
                >{{ pharmacy.address }}</span
              >
              <span id="span-empty-field" ng-if="pharmacy.address.length === 0"
                >Field is Empty</span
              >
            </div>
            <!-- pharmacy Website field -->
            <div id="content-div">
              <label>Website:</label>
              <span
                id="label-data-content"
                ng-if="pharmacy.website.length > 0"
                >{{ pharmacy.website }}</span
              >
              <span id="span-empty-field" ng-if="pharmacy.website.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- pharmacy Notes field -->
            <div id="content-div">
              <label>Notes:</label>
              <span id="label-data-content" ng-if="pharmacy.notes.length > 0">{{
                pharmacy.notes
              }}</span>
              <span id="span-empty-field" ng-if="pharmacy.notes.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- pharmacy Contact: field -->
            <div id="content-div">
              <label>Contact1:</label>
              <span
                id="label-data-content"
                ng-if="pharmacy.Contact1.length > 0"
                >{{ pharmacy.Contact1 }}</span
              >
              <span id="span-empty-field" ng-if="pharmacy.Contact1.length === 0"
                >Field is Empty</span
              >
            </div>
          </div>
        </div>

        <div id="page-footer" ng-hide="$even">
          <p id="company-website-footer">www.google.com</p>
          <p id="page-number">Page: 1</p>
        </div>
      </div>

      <!-- Personal profile here -->
      <div id="container" ng-if="!isEmpty(userProfile)">
        <div id="page-header">
          <strong class="centered-header-image-text"
            >SPECIALITY CONTACTS</strong
          >
          <img id="page-header-image" src="gradiant.png" />
        </div>

        <div style="padding:20px 0;">
          <img
            src="https://static.thenounproject.com/png/157453-200.png"
            style="display:inline-block; vertical-align:middle; width:5%;"
          />
          <span id="report-type">Personal Profile</span>
        </div>

        <div id="page-body">
          <div id="#personal-profile-content">
            <!-- user profile name field -->
            <div id="content-div">
              <label>Name:</label>
              <span
                id="label-data-content"
                ng-if="userProfile.name.length > 0"
                >{{ userProfile.name }}</span
              >
              <span id="span-empty-field" ng-if="userProfile.name.length === 0"
                >Field is Empty</span
              >
            </div>
            <!-- user profile relationship field  -->
            <div id="content-div">
              <label>Relationship:</label>
              <span
                id="label-data-content"
                ng-if="userProfile.relationship.length > 0"
                >{{ userProfile.relationship }}</span
              >
              <span
                id="span-empty-field"
                ng-if="userProfile.relationship.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- user profile Address field -->
            <div id="content-div">
              <label>Address:</label>
              <span
                id="label-data-content"
                ng-if="userProfile.address.length > 0"
                >{{ userProfile.address }}</span
              >
              <span
                id="span-empty-field"
                ng-if="userProfile.address.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- user profile Email field -->
            <div id="content-div">
              <label>Email:</label>
              <span
                id="label-data-content"
                ng-if="userProfile.email.length > 0"
                >{{ userProfile.email }}</span
              >
              <span id="span-empty-field" ng-if="userProfile.email.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- user profile gender field -->
            <div id="content-div">
              <label>Gender:</label>
              <span
                id="label-data-content"
                ng-if="userProfile.gender.length > 0"
                >{{ userProfile.gender }}</span
              >
              <span
                id="span-empty-field"
                ng-if="userProfile.gender.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- user profile birthday field -->
            <div id="content-div">
              <label>Birthday:</label>
              <span
                id="label-data-content"
                ng-if="userProfile.birthday.length > 0"
                >{{ userProfile.birthday }}</span
              >
              <span
                id="span-empty-field"
                ng-if="userProfile.birthday.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- user profile weight field -->
            <div id="content-div">
              <label>Weight:</label>
              <span
                id="label-data-content"
                ng-if="userProfile.weight.length > 0"
                >{{ userProfile.weight }}</span
              >
              <span
                id="span-empty-field"
                ng-if="userProfile.weight.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- user profile height field -->
            <div id="content-div">
              <label>Height:</label>
              <span
                id="label-data-content"
                ng-if="userProfile.height.length > 0"
                >{{ userProfile.height }}</span
              >
              <span
                id="span-empty-field"
                ng-if="userProfile.height.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- user profile language spoken field -->
            <div id="content-div">
              <label>LanguageSpoken:</label>
              <span
                id="label-data-content"
                ng-if="userProfile.languageSpoken.length > 0"
                >{{ userProfile.languageSpoken }}</span
              >
              <span
                id="span-empty-field"
                ng-if="userProfile.languageSpoken.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- user profile eyes field -->
            <div id="content-div">
              <label>Eyes:</label>
              <span
                id="label-data-content"
                ng-if="userProfile.eyes.length > 0"
                >{{ userProfile.eyes }}</span
              >
              <span id="span-empty-field" ng-if="userProfile.eyes.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- user profile live alone field -->
            <div id="content-div">
              <label>Do you live alone?:</label>
              <span
                id="label-data-content"
                ng-if="userProfile.livealone.length > 0"
                >{{ userProfile.livealone }}</span
              >
              <span
                id="span-empty-field"
                ng-if="userProfile.livealone.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- user profile understandEnglish field -->
            <div id="content-div">
              <label>Understand English:</label>
              <span
                id="label-data-content"
                ng-if="userProfile.understandEnglish.length > 0"
                >{{ userProfile.understandEnglish }}</span
              >
              <span
                id="span-empty-field"
                ng-if="userProfile.understandEnglish.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- user profile Friend field -->
            <div id="content-div">
              <label>Friend:</label>
              <span
                id="label-data-content"
                ng-if="userProfile.friend.length > 0"
                >{{ userProfile.friend }}</span
              >
              <span
                id="span-empty-field"
                ng-if="userProfile.friend.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- user profile children field -->
            <div id="content-div">
              <label>Children:</label>
              <span
                id="label-data-content"
                ng-if="userProfile.children.length > 0"
                >{{ userProfile.children }}</span
              >
              <span
                id="span-empty-field"
                ng-if="userProfile.children.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- user profile parents field -->
            <div id="content-div">
              <label>Parents(s):</label>
              <span
                id="label-data-content"
                ng-if="userProfile.parents.length > 0"
                >{{ userProfile.parents }}</span
              >
              <span
                id="span-empty-field"
                ng-if="userProfile.parents.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- user profile grandparents field -->
            <div id="content-div">
              <label>Grandparents(s):</label>
              <span
                id="label-data-content"
                ng-if="userProfile.grandparents.length > 0"
                >{{ userProfile.grandparents }}</span
              >
              <span
                id="span-empty-field"
                ng-if="userProfile.grandparents.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- user profile sibling field -->
            <div id="content-div">
              <label>Sibling:</label>
              <span
                id="label-data-content"
                ng-if="userProfile.sibling.length > 0"
                >{{ userProfile.sibling }}</span
              >
              <span
                id="span-empty-field"
                ng-if="userProfile.sibling.length === 0"
                >Field is Empty</span
              >
            </div>
            <!-- user profile sibling field -->
            <div id="content-div">
              <label>Spouse:</label>
              <span
                id="label-data-content"
                ng-if="userProfile.spouse.length > 0"
                >{{ userProfile.spouse }}</span
              >
              <span
                id="span-empty-field"
                ng-if="userProfile.spouse.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- user profile profession field -->
            <div id="content-div">
              <label>Profession:</label>
              <span
                id="label-data-content"
                ng-if="userProfile.profession.length > 0"
                >{{ userProfile.profession }}</span
              >
              <span
                id="span-empty-field"
                ng-if="userProfile.profession.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- user profile profession field -->
            <div id="content-div">
              <label>Significant Other:</label>
              <span
                id="label-data-content"
                ng-if="userProfile.significantOther.length > 0"
                >{{ userProfile.significantOther }}</span
              >
              <span
                id="span-empty-field"
                ng-if="userProfile.significantOther.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- user profile employed By field -->
            <div id="content-div">
              <label>Employed By:</label>
              <span
                id="label-data-content"
                ng-if="userProfile.employedBy.length > 0"
                >{{ userProfile.employedBy }}</span
              >
              <span
                id="span-empty-field"
                ng-if="userProfile.employedBy.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- user profile employed By field -->
            <div id="content-div">
              <label>Manager Phone:</label>
              <span
                id="label-data-content"
                ng-if="userProfile.managerPhone.length > 0"
                >{{ userProfile.managerPhone }}</span
              >
              <span
                id="span-empty-field"
                ng-if="userProfile.managerPhone.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- user profile marital status field -->
            <div id="content-div">
              <label>Marital Status:</label>
              <span
                id="label-data-content"
                ng-if="userProfile.martialStatus.length > 0"
                >{{ userProfile.martialStatus }}</span
              >
              <span
                id="span-empty-field"
                ng-if="userProfile.martialStatus.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- user profile religious note field -->
            <div id="content-div">
              <label>Marital Status:</label>
              <span
                id="label-data-content"
                ng-if="userProfile.religionNote.length > 0"
                >{{ userProfile.religionNote }}</span
              >
              <span
                id="span-empty-field"
                ng-if="userProfile.religionNote.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- user profile Veteran field -->
            <div id="content-div">
              <label>Veteran:</label>
              <span
                id="label-data-content"
                ng-if="userProfile.veteran.length > 0"
                >{{ userProfile.veteran }}</span
              >
              <span
                id="span-empty-field"
                ng-if="userProfile.veteran.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- user profile marital status field -->
            <div id="content-div">
              <label>ID Number:</label>
              <span
                id="label-data-content"
                ng-if="userProfile.idNumber.length > 0"
                >{{ userProfile.idNumber }}</span
              >
              <span
                id="span-empty-field"
                ng-if="userProfile.idNumber.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- user profile Contact 1 field -->
            <div id="content-div">
              <label>Contact 1:</label>
              <span
                id="label-data-content"
                ng-if="userProfile.contact1.length > 0"
                >{{ userProfile.contact1 }}</span
              >
              <span
                id="span-empty-field"
                ng-if="userProfile.contact1.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- user profile Contact 2 field -->
            <div id="content-div">
              <label>Contact 2:</label>
              <span
                id="label-data-content"
                ng-if="userProfile.contact2.length > 0"
                >{{ userProfile.contact2 }}</span
              >
              <span
                id="span-empty-field"
                ng-if="userProfile.contact2.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- user profile Pets field -->
            <div id="content-div">
              <label>Pets</label>
              <span
                id="hasPets"
                style="display:block; width:100%;  border-bottom:3px solid #ddd;"
                ng-if="userProfile.pets.length > 0"
                >{{ userProfile.pets }}</span
              >
              <span id="span-empty-field" ng-if="userProfile.pets.length === 0"
                >Field is Empty</span
              >
            </div>

            <!-- Pet details are here -->
            <div id="petInfo" ng-if="userProfile.pets.toLowerCase() === 'yes'">
              <p style="color: #59cfff;font-weight: bold;font-size: 20px">
                Pet(s) Details
              </p>
              <!-- Pet details section starts here -->
              <div id="pet-body" ng-repeat="pet in masterDataModel.petDetails">
                <div id="doctor-content">
                  <!-- Pet name field -->
                  <div id="content-div">
                    <label>Pet Name</label>
                    <span id="label-data-content" ng-if="pet.name.length > 0">{{
                      pet.name
                    }}</span>
                    <span id="span-empty-field" ng-if="pet.name.length === 0"
                      >Field is Empty</span
                    >
                  </div>
                  <!-- Breed field -->
                  <div id="content-div">
                    <label>Breed:</label>
                    <span
                      id="label-data-content"
                      ng-if="pet.breed.length > 0"
                      >{{ pet.breed }}</span
                    >
                    <span id="span-empty-field" ng-if="pet.breed.length === 0"
                      >Field is Empty</span
                    >
                  </div>

                  <!-- Color field -->
                  <div id="content-div">
                    <label>Color:</label>
                    <span
                      id="label-data-content"
                      ng-if="pet.color.length > 0"
                      >{{ pet.color }}</span
                    >
                    <span id="span-empty-field" ng-if="pet.color.length === 0"
                      >Field is Empty</span
                    >
                  </div>

                  <!-- Microchip number field -->
                  <div id="content-div">
                    <label>Microchip number:</label>
                    <span
                      id="label-data-content"
                      ng-if="pet.microchipNumber.length > 0"
                      >{{ pet.microchipNumber }}</span
                    >
                    <span
                      id="span-empty-field"
                      ng-if="pet.microchipNumber.length === 0"
                      >Field is Empty</span
                    >
                  </div>

                  <!-- Veterinarian Name field -->
                  <div id="content-div">
                    <label>Veterinarian Name:</label>
                    <span
                      id="label-data-content"
                      ng-if="pet.vetName.length > 0"
                      >{{ pet.vetName }}</span
                    >
                    <span id="span-empty-field" ng-if="pet.vetName.length === 0"
                      >Field is Empty</span
                    >
                  </div>

                  <!-- Veterinarian Address field -->
                  <div id="content-div">
                    <label>Veterinarian Address:</label>
                    <span
                      id="label-data-content"
                      ng-if="pet.vetAddress.length > 0"
                      >{{ pet.vetAddress }}</span
                    >
                    <span
                      id="span-empty-field"
                      ng-if="pet.vetAddress.length === 0"
                      >Field is Empty</span
                    >
                  </div>

                  <!-- Veterinarian Phone field -->
                  <div id="content-div">
                    <label>Veterinarian Phone:</label>
                    <span
                      id="label-data-content"
                      ng-if="pet.vetPhone.length > 0"
                      >{{ pet.vetPhone }}</span
                    >
                    <span
                      id="span-empty-field"
                      ng-if="pet.vetPhone.length === 0"
                      >Field is Empty</span
                    >
                  </div>

                  <!-- Name who will care for pet field -->
                  <div id="content-div">
                    <label>Name who will care for pet:</label>
                    <span
                      id="label-data-content"
                      ng-if="pet.namePetCare.length > 0"
                      >{{ pet.namePetCare }}</span
                    >
                    <span
                      id="span-empty-field"
                      ng-if="pet.namePetCare.length === 0"
                      >Field is Empty</span
                    >
                  </div>

                  <!-- Address who will care for pet field -->
                  <div id="content-div">
                    <label>Address who will care for pet:</label>
                    <span
                      id="label-data-content"
                      ng-if="pet.addressPetCare.length > 0"
                      >{{ pet.addressPetCare }}</span
                    >
                    <span
                      id="span-empty-field"
                      ng-if="pet.addressPetCare.length === 0"
                      >Field is Empty</span
                    >
                  </div>

                  <!-- Phone who will care for pet field -->
                  <div id="content-div">
                    <label>Phone who will care for pet:</label>
                    <span
                      id="label-data-content"
                      ng-if="pet.carePhone.length > 0"
                      >{{ pet.carePhone }}</span
                    >
                    <span
                      id="span-empty-field"
                      ng-if="pet.carePhone.length === 0"
                      >Field is Empty</span
                    >
                  </div>

                  <!-- Pet birthday field -->
                  <div id="content-div">
                    <label>Birth date:</label>
                    <span
                      id="label-data-content"
                      ng-if="pet.birthday.length > 0"
                      >{{ pet.birthday }}</span
                    >
                    <span
                      id="span-empty-field"
                      ng-if="pet.birthday.length === 0"
                      >Field is Empty</span
                    >
                  </div>

                  <!-- Pet notes field -->
                  <div id="content-div">
                    <label>Notes about Pet:</label>
                    <span id="label-data-content" ng-if="pet.note.length > 0">{{
                      pet.note
                    }}</span>
                    <span id="span-empty-field" ng-if="pet.note.length === 0"
                      >Field is Empty</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="page-footer">
          <p id="company-website-footer">www.google.com</p>
          <p id="page-number">Page: 1</p>
        </div>
      </div>
      <!-- end of personal profile -->

      <!-- Medical profile HTML starts here -->
<!-- starting medical report -->
<div id="container">
    <div id="page-header">
      <strong id="personal-medical-profile-header"
        >PERSONAL & MEDICAL PROFILE & EMERGENCY CONTACTS</strong
      >
      <img id="page-header-image" src="gradiant.png" />
    </div>

    <div style="padding:20px 0;">
      <img
        src="https://static.thenounproject.com/png/157453-200.png"
        style="display:inline-block; vertical-align:middle; width:5%;"
      />
      <span id="report-type">Medical Profile</span>
    </div>
<div id="page-body">
    <div style="page-break-inside: avoid;">
      <span style="margin-top: 30px;" id="report-type">Allergy(s)</span>
      <!-- allerrgy content starts -->
      <div id="group-border">
        <div
          id="allergy-content"
          ng-repeat="allergy in masterDataModel.allergy"
        >
          <!-- allergy Name field -->
          <div id="content-div">
            <label>Allergy {{ $index + 1 }}:</label>
            <span
              id="label-data-content"
              ng-if="allergy.allergy.length > 0"
              >{{ allergy.allergy }}</span
            >
            <span
              id="span-empty-field"
              ng-if="allergy.allergy.length === 0"
              >Field is Empty</span
            >
          </div>
          <!-- Reaction field -->
          <div id="content-div">
            <label>Reaction:</label>
            <span
              id="label-data-content"
              ng-if="allergy.reaction.length > 0"
              >{{ allergy.reaction }}</span
            >
            <span
              id="span-empty-field"
              ng-if="allergy.reaction.length === 0"
              >Field is Empty</span
            >
          </div>
          <!-- Reaction field -->
          <div id="content-div">
            <label>Treatment:</label>
            <span
              id="label-data-content"
              ng-if="allergy.treatment.length > 0"
              >{{ allergy.treatment }}</span
            >
            <span
              id="span-empty-field"
              ng-if="allergy.treatment.length === 0"
              >Field is Empty</span
            >
          </div>
        </div>
      </div>
    </div>
    <!-- end allergy content -->
    <div style="margin-left: 10px;" id="allergy-note">
      <label>Allergy Note</label>
      <span id="notes-bottom-line">test note</span>
    </div>
    <!-- end of allergy notes -->

    <!-- pre existing medical conditions -->
    <div style="page-break-inside: avoid;">
      <span style="margin-top: 30px;" id="report-type"
        >Pre Existing Medical Conditions</span
      >
      <!-- pre existing medical condition content starts -->
      <div id="pre-Existing-Medical-group">
        <div
          id="allergy-content"
          ng-repeat="allergy in masterDataModel.allergy"
        >
          <!-- Medical Condition field -->
          <div id="content-div">
            <label>Medical Conditions {{ $index + 1 }}:</label>
            <span
              id="label-data-content"
              ng-if="allergy.allergy.length > 0"
              >{{ allergy.allergy }}</span
            >
            <span
              id="span-empty-field"
              ng-if="allergy.allergy.length === 0"
              >Field is Empty</span
            >
          </div>
          <!-- Medical Notes field -->
          <div id="content-div">
            <label>Medical Notes:</label>
            <span
              id="label-data-content"
              ng-if="allergy.reaction.length > 0"
              >{{ allergy.reaction }}</span
            >
            <span
              id="span-empty-field"
              ng-if="allergy.reaction.length === 0"
              >Field is Empty</span
            >
          </div>
        </div>
      </div>
    </div>
    <!-- end allergy content -->

    <span id="notes-bottom-line"></span>

    <!-- end of allergy notes -->
    <!-- end of pre-existing medical conditions -->

    <!-- Medical implants begin -->

    <div style="page-break-inside: avoid;">
      <span style="margin-top: 30px;" id="report-type"
        >Medical Implants</span
      >
      <!-- allerrgy content starts -->
      <div id="group-border">
        <div
          id="allergy-content"
          ng-repeat="allergy in masterDataModel.allergy"
        >
          <!-- Implant Name field -->
          <div id="content-div">
            <label>Implant {{ $index + 1 }}:</label>
            <span
              id="label-data-content"
              ng-if="allergy.allergy.length > 0"
              >{{ allergy.allergy }}</span
            >
            <span
              id="span-empty-field"
              ng-if="allergy.allergy.length === 0"
              >Field is Empty</span
            >
          </div>
          <!-- Date field -->
          <div id="content-div">
            <label>Date:</label>
            <span
              id="label-data-content"
              ng-if="allergy.reaction.length > 0"
              >{{ allergy.reaction }}</span
            >
            <span
              id="span-empty-field"
              ng-if="allergy.reaction.length === 0"
              >Field is Empty</span
            >
          </div>
          <!-- Notes field -->
          <div id="content-div">
            <label>Notes:</label>
            <span
              id="label-data-content"
              ng-if="allergy.treatment.length > 0"
              >{{ allergy.treatment }}</span
            >
            <span
              id="span-empty-field"
              ng-if="allergy.treatment.length === 0"
              >Field is Empty</span
            >
          </div>
        </div>
      </div>
    </div>
    <!-- end medical implant content -->
    <div style="margin-left: 10px;" id="allergy-note">
      <label> Medical Implant Note</label>
      <span id="notes-bottom-line">test note</span>
    </div>
    <!-- end of medical implant notes -->
    <!-- Medical implants end -->

    <!-- surgical history begins -->

    <div style="page-break-inside: avoid;">
      <span style="margin-top: 30px;" id="report-type"
        >Surgical History</span
      >
      <!-- allerrgy content starts -->
      <div id="group-border">
        <div
          id="allergy-content"
          ng-repeat="allergy in masterDataModel.allergy"
        >
          <!-- History field -->
          <div id="content-div">
            <label>History {{ $index + 1 }}:</label>
            <span
              id="label-data-content"
              ng-if="allergy.allergy.length > 0"
              >{{ allergy.allergy }}</span
            >
            <span
              id="span-empty-field"
              ng-if="allergy.allergy.length === 0"
              >Field is Empty</span
            >
          </div>
          <!-- Date field -->
          <div id="content-div">
            <label>Date:</label>
            <span
              id="label-data-content"
              ng-if="allergy.reaction.length > 0"
              >{{ allergy.reaction }}</span
            >
            <span
              id="span-empty-field"
              ng-if="allergy.reaction.length === 0"
              >Field is Empty</span
            >
          </div>
          <!-- Doctor field -->
          <div id="content-div">
            <label>Doctor:</label>
            <span
              id="label-data-content"
              ng-if="allergy.treatment.length > 0"
              >{{ allergy.treatment }}</span
            >
            <span
              id="span-empty-field"
              ng-if="allergy.treatment.length === 0"
              >Field is Empty</span
            >
          </div>

          <!-- location field -->
          <div id="content-div">
            <label>Location:</label>
            <span
              id="label-data-content"
              ng-if="allergy.treatment.length > 0"
              >{{ allergy.treatment }}</span
            >
            <span
              id="span-empty-field"
              ng-if="allergy.treatment.length === 0"
              >Field is Empty</span
            >
          </div>
          <!-- surgical history note field -->
          <div id="content-div">
            <label>Surgical history notes:</label>
            <span
              id="label-data-content"
              ng-if="allergy.treatment.length > 0"
              >{{ allergy.treatment }}</span
            >
            <span
              id="span-empty-field"
              ng-if="allergy.treatment.length === 0"
              >Field is Empty</span
            >
          </div>
        </div>
      </div>
    </div>
    <!-- surgical history ends -->
  </div>
  </div>
  <!-- end medical report -->
      <!-- Medical profile HTML ends here -->
      <div id="page-footer">
          <p id="company-website-footer">www.google.com</p>
          <p id="page-number">Page: 1</p>
        </div>
    </div>
  </body>

  <script>
    function getScope() {
      var outside = angular
        .element(document.getElementById("page-main-body"))
        .scope();
      return outside;
    }

    function appendEmptyObjectIfLengthIsOdd(data) {
      if (data !== undefined) {
        data.length % 2 === 0 ? data : data.push({});
      }
    }

    function checkForEmptyDataDictionary(parsedResponse) {
      appendEmptyObjectIfLengthIsOdd(parsedResponse.doctor);
      appendEmptyObjectIfLengthIsOdd(parsedResponse.hospital);
      appendEmptyObjectIfLengthIsOdd(parsedResponse.pharmacy);
    }

    function renderReportData(reportData) {
      var $scope = getScope();
      var decodedData = window.atob(reportData); // decode the string
      const parsedResponse = JSON.parse(decodedData);
      checkForEmptyDataDictionary(parsedResponse);

      $scope.masterDataModel = {
        doctor: parsedResponse.doctor,
        hospital: parsedResponse.hospital,
        pharmacy: parsedResponse.pharmacy,
        username: parsedResponse.username,
        petDetails: parsedResponse.petDetails
      };
      $scope.userProfile = parsedResponse.personalProfile;

      $scope.$apply();
    }

    var app = angular.module("myApp", []);
    app.controller("myCtrl", function($scope) {
      $scope.todayDate = new Date().toISOString().slice(0, 10);

      var userP = {
        name: "Ravi",
        relationship: "self",
        address: "1234 NYC PO-4678",
        email: "test@test.com",
        gender: "male",
        birthday: "15-july-1988",
        weight: "76",
        height: "5'6",
        languageSpoken: "English",
        eyes: "Brown",
        livealone: "No",
        understandEnglish: "Yes",
        friend: "No",
        children: "No",
        parents: "No",
        grandparents: "No",
        sibling: "No",
        spouse: "Yes",
        profession: "Elder Attorney",
        significantOther: "No",
        employedBy: "Legal group",
        managerPhone: "212-709-8104",
        martialStatus: "Married",
        religionNote: "Jewish",
        veteran: "No",
        idNumber: "",
        contact1: "Mobile: 646-515-6598",
        contact2: "Mobile: 212-111-111",
        pets: "YES"
      };
      let userPet = [
        {
          name: "Bruno",
          breed: "golden ret",
          color: "gold",
          microchip: "1234",
          vetname: "test vet",
          vetadd: "123 NYC NYC-301"
        },
        {
          name: "Theo",
          breed: "golden ret",
          color: "gold",
          microchip: "12345",
          vetname: "test vet1",
          vetadd: "123 NYC NYC-301"
        }
      ];
      //  $scope.userProfile = userP;

      var allergyModel = [
        {
          allergy: "nax 1",
          reaction: "increase heart beat",
          treatment: "drink water"
        },
        {
          allergy: "nax 2",
          reaction: "increase heart beat",
          treatment: "drink water"
        },
        {
          allergy: "nax 3",
          reaction: "increase heart beat",
          treatment: "drink water"
        }
      ];

      $scope.masterDataModel = {
        username: "Bruce Wyane",
        allergy: allergyModel,
        // petDetails: userPet
      };

      $scope.isEmpty = function(dictionary) {
        return Object.keys(dictionary).length === 0;
      };
    });
  </script>
</html>
