<!doctype html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<head>
  <meta charset="utf-8">
  <title>Test title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <meta name="keywords" content="HTML, Meta Tags, Metadata" /> -->
  <style type="text/css">
    @media print {
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
      }

      .clearfix {
        clear: both;
        display: block;
      }

      .clearfix::after {
        content: "";
        clear: both;
        display: block;
      }
    }
  </style>
</head>
<!-- TODO: The html can have one model and have logic to render the entire HTML than accepting multiple models -->

<body ng-app="myApp" ng-controller="myCtrl"
  style=" font-family: Arial, Helvetica Neue, Helvetica, sans-serif; font-size:16px; line-height:20px; margin:0; padding:0 0 30px; background-color: #F3F3F3; width:1000px; margin:0 auto;">
  <div style="width:100%; position: relative; padding:10px 0;">
    <div style="float:left; width:40%; padding:15px 0;">
      <img src="user-icon.png" style="vertical-align:middle;">
      <strong style="display:inline-block; vertical-align:middle; margin-left:10px;">Peggy Smith</strong>
    </div>
    <img src="header-logo.png" alt="Mylo" style="width:20%; margin: 0;  vertical-align:middle;">
    <div style="float:right; width:auto; padding:15px 0; ">
      <img src="calendar-icon.png" style="vertical-align:middle;">
      <strong style="vertical-align:middle; display:inline-block; margin-left:10px;">{{todayDate}}</strong>
    </div>
    <div class="clearfix" style="clear:both; display:block; content:"";"></div>
  </div>
  <div
    style="background-color:#37ACD9; padding:10px 0; font-size:16px; color:#fff; text-align: center; text-transform: uppercase; font-weight:bold; background-image:url(images/gradiant.png); background-repeat:no-repeat; background-position: 0 0; background-size:cover;">
    Personal & Medical Profile & Emergency Contacts
  </div>

  <!-- Main Div element -->
  <div id="report-master-tag">
    <!-- Doctors and Other health care div -->
    <div id="doctor-header" ng-if="masterDataModel.doctor.length > 0">
      <div style="padding:20px 0;">
        <img src="personal-profile.png" style="display:inline-block; vertical-align:middle; width:5%;">
        <span
          style="display:inline-block; color: #2AABE1; font-weight: 400; font-size:16px; vertical-align:middle; margin-left:10px;">Doctors
          & Other Health Care Professionals</span>
      </div>
      <div id="personal-relationship"
        style="margin:0; margin-bottom: 10px; padding: 15px; background-color:#fff; border:1px solid #ddd; border-radius:10px;"
        ng-repeat="user in masterDataModel.doctor">
        <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;" ng-repeat="(key, value) in user">
          <label style="display:block; font-size:14px; color: #747474;">{{key+":"}}</label>
          <span id="user-name" style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;"
            ng-if="value.length > 0">{{value}}</span>
          <span id="user-name"
            style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd; color:#737373"
            ng-if="value.length === 0">Field is Empty</span>
        </div>
        <div class="clearfix" style="clear:both; display:block; content:"";"></div>
      </div>
    </div>

    <!-- Hospitals, Rehab and Home health care agencies div -->
    <div id="hospital-header" ng-if="masterDataModel.hospital.length > 0">
      <div style="padding:20px 0;">
        <img src="personal-profile.png" style="display:inline-block; vertical-align:middle; width:5%;">
        <span
          style="display:inline-block; color: #2AABE1; font-weight: 400; font-size:16px; vertical-align:middle; margin-left:10px;">Hospitals,
          Rehabilitation Centers, and Home Health Care Agencies:</span>
      </div>
      <div id="personal-relationship"
        style="margin:0; margin-bottom: 10px; padding: 15px; background-color:#fff; border:1px solid #ddd; border-radius:10px;"
        ng-repeat="hospital in masterDataModel.hospital">
        <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;" ng-repeat="(key, value) in hospital">
          <label style="display:block; font-size:14px; color: #747474;">{{key+":"}}</label>
          <span id="user-name" style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;"
            ng-if="value.length > 0">{{value}}</span>
          <span id="user-name"
            style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd; color:#737373"
            ng-if="value.length === 0">Field is Empty</span>
        </div>
        <div class="clearfix" style="clear:both; display:block; content:"";"></div>
      </div>
    </div>

    <!-- Pharmacies And Home Medical Equipment: div -->
    <div id="pharmacy-header" ng-if="masterDataModel.pharmacy.length > 0">
      <div style="padding:20px 0;">
        <img src="personal-profile.png" style="display:inline-block; vertical-align:middle; width:5%;">
        <span
          style="display:inline-block; color: #2AABE1; font-weight: 400; font-size:16px; vertical-align:middle; margin-left:10px;">Pharmacies
          And Home Medical Equipment:</span>
      </div>
      <div id="personal-relationship"
        style="margin:0; margin-bottom: 10px; padding: 15px; background-color:#fff; border:1px solid #ddd; border-radius:10px;"
        ng-repeat="pharmacy in masterDataModel.pharmacy">
        <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;" ng-repeat="(key, value) in pharmacy">
          <label style="display:block; font-size:14px; color: #747474;">{{key+":"}}</label>
          <span id="user-name" style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;"
            ng-if="value.length > 0">{{value}}</span>
          <span id="user-name"
            style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd; color:#737373"
            ng-if="value.length === 0">Field is Empty</span>
        </div>
        <div class="clearfix" style="clear:both; display:block; content:"";"></div>
      </div>
    </div>

    <!-- Personal profile starts here -->
    <!-- TODO: Need to make a scope function to calculate length of dictionary -->
    <div id="personal-profile-header">
      <div style="padding:20px 0;">
        <img src="personal-profile.png" style="display:inline-block; vertical-align:middle; width:5%;">
        <span
          style="display:inline-block; color: #2AABE1; font-weight: 400; font-size:16px; vertical-align:middle; margin-left:10px;">Personal
          Profile</span>
      </div>
      <div id="personal-relationship"
        style="margin:0; margin-bottom: 10px; padding: 15px; background-color:#fff; border:1px solid #ddd; border-radius:10px;">
        <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;"
          ng-repeat="(key, value) in masterDataModel.personalProfile">
          <label style="display:block; font-size:14px; color: #747474;">{{key+":"}}</label>
          <span id="user-name" style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;"
            ng-if="value.length > 0">{{value}}</span>
          <span id="user-name"
            style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd; color:#737373"
            ng-if="value.length === 0">Field is Empty</span>
        </div>
        <div class="clearfix" style="clear:both; display:block; content:"";"></div>
      </div>
    </div>

    <!-- Pet profile: div -->
    <div id="pet-header" ng-if="masterDataModel.pet.length > 0">
      <div style="padding:20px 0;">
        <img src="personal-profile.png" style="display:inline-block; vertical-align:middle; width:5%;">
        <span
          style="display:inline-block; color: #2AABE1; font-weight: 400; font-size:16px; vertical-align:middle; margin-left:10px;">Pet(s)
          Details</span>
      </div>
      <div id="personal-relationship"
        style="margin:0; margin-bottom: 10px; padding: 15px; background-color:#fff; border:1px solid #ddd; border-radius:10px;"
        ng-repeat="pet in masterDataModel.pet">
        <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;" ng-repeat="(key, value) in pet">
          <label style="display:block; font-size:14px; color: #747474;">{{key+":"}}</label>
          <span id="user-name" style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;"
            ng-if="value.length > 0">{{value}}</span>
          <span id="user-name"
            style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd; color:#737373"
            ng-if="value.length === 0">Field is Empty</span>
        </div>
        <div class="clearfix" style="clear:both; display:block; content:"";"></div>
      </div>
    </div>

    <!-- Medical profile: div -->
    <div id="pet-header" ng-if="masterDataModel.allergy.length > 0">
      <div style="padding:20px 0;">
        <img src="personal-profile.png" style="display:inline-block; vertical-align:middle; width:5%;">
        <span
          style="display:inline-block; color: #2AABE1; font-weight: 400; font-size:16px; vertical-align:middle; margin-left:10px;">Medical
          Profile</span>
      </div>
      <div id="personal-relationship"
        style="margin:0; margin-bottom: 10px; padding: 15px; background-color:#fff; border:1px solid #ddd; border-radius:10px;"
        ng-repeat="allergy in masterDataModel.allergy">
        <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;" ng-repeat="(key, value) in allergy">
          <label style="display:block; font-size:14px; color: #747474;">{{key+":"}}</label>
          <span id="user-name" style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;"
            ng-if="value.length > 0">{{value}}</span>
          <span id="user-name"
            style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd; color:#737373"
            ng-if="value.length === 0">Field is Empty</span>
        </div>
        <div class="clearfix" style="clear:both; display:block; content:"";"></div>
      </div>
      <!-- TODO: Make this dynamic -->
      <div id="allergy-notes">
        <label style="display:block; font-size:14px; color: #747474;">Allergy Notes</label>
        <strong>I sometimes have an allergy attack when the pollen count is high - I take something over the counter
          like
          Benadryl.</strong>
      </div>
    </div>

    <div class="clearfix" style="clear:both; display:block; content:"";"></div>
  </div>

  <div style="page-break-after: always;"></div>
  </div>
</body>

<script>
  function getScope() {
    var outside = angular.element(document.getElementById('report-master-tag')).scope();
    return outside;
  }

  function changeScopeUserModel(userInfo) {
    debugger;
    var $scope = getScope();
    const parsedResponse = JSON.parse(userInfo);
    $scope.masterDataModel = {
      "doctor": parsedResponse.doctor,
      "hospital": parsedResponse.hospital,
      "pharmacy": parsedResponse.pharmacy,
      "personalProfile": parsedResponse.personalProfile,
      "pet": parsedResponse.pet,
      "allergy": parsedResponse.allergy
    };
    console.log($scope.masterDataModel);
    $scope.$apply();
  }

  var app = angular.module("myApp", []);
  app.controller("myCtrl", function ($scope) {
    $scope.todayDate = new Date().toISOString().slice(0, 10);
    $scope.masterDataModel = {};
  });
</script>

</html>