<!doctype html>
<html lang="en">
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
<script src="angular.min.js"></script>
<!-- Bug in webKit for tfoot: https://bugs.webkit.org/show_bug.cgi?id=17205 -->
<head>
  <meta charset="utf-8">
  <title>Test title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <meta name="keywords" content="HTML, Meta Tags, Metadata" /> -->
  <style type="text/css">
    @media print {
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
      }

      .clearfix {
        clear: both;
        display: block;
      }

      .clearfix::after {
        content: "";
        clear: both;
        display: block;
      }
    }
  </style>
</head>
<!-- TODO: The html can have one model and have logic to render the entire HTML than accepting multiple models -->

<body ng-app="myApp" ng-controller="myCtrl"
  style=" font-family: Arial, Helvetica Neue, Helvetica, sans-serif; font-size:16px; line-height:20px; margin:0; padding:0 0 30px; background-color: #F3F3F3; width:1000px; margin:0 auto;">
  <div style="width:100%; position: relative; padding:10px 0;">
    <div style="float:left; width:40%; padding:15px 0;">
      <img src="user-icon.png" style="vertical-align:middle;">
      <strong
        style="display:inline-block; vertical-align:middle; margin-left:10px;">{{masterDataModel.username}}</strong>
    </div>
    <img src="header-logo.png" alt="Mylo" style="width:20%; margin: 0;  vertical-align:middle;">
    <div style="float:right; width:auto; padding:15px 0; ">
      <img src="calendar-icon.png" style="vertical-align:middle;">
      <strong style="vertical-align:middle; display:inline-block; margin-left:10px;">{{todayDate}}</strong>
    </div>
    <div class="clearfix" style="clear:both; display:block; content:"";"></div>
  </div>
  <div
    style="background-color:#37ACD9; padding:10px 0; font-size:16px; color:#fff; text-align: center; text-transform: uppercase; font-weight:bold; background-image:url(images/gradiant.png); background-repeat:no-repeat; background-position: 0 0; background-size:cover;">
    Personal & Medical Profile & Emergency Contacts
  </div>

  <!-- Main Div element -->
  <div id="report-master-tag">
    <!-- Doctors and Other health care div -->
    <div id="doctor-header" ng-if="masterDataModel.doctor.length > 0">
      <div style="padding:20px 0;">
        <img src="personal-profile.png" style="display:inline-block; vertical-align:middle; width:5%;">
        <span
          style="display:inline-block; color: #2AABE1; font-weight: 400; font-size:16px; vertical-align:middle; margin-left:10px;">Doctors
          & Other Health Care Professionals</span>
      </div>
      <div id="doctor-details" ng-repeat="doctor in masterDataModel.doctor"
        style="margin:0; margin-bottom: 10px; padding: 15px; background-color:#fff; border:1px solid #ddd; border-radius:10px;">
        <div>
          <!-- Doctor Specialist field -->
          <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;">
            <label style="display:block; font-size:14px; color: #747474;">Speciality</label>
            <span ng-if="doctor.mySpeciality.length > 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">{{doctor.mySpeciality}}</span>
            <span ng-if="doctor.mySpeciality.length === 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;color:#737373;">Field is
              Empty</span>
          </div>
          <!-- Doctor Name field -->
          <div style=" width:47%; float:left; padding: 0 10px; margin:0 0 10px;">
            <label style="display:block; font-size:14px; color: #747474;">Name</label>
            <span ng-if="doctor.myname.length > 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">{{doctor.myname}}</span>
            <span ng-if="doctor.myname.length === 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;color:#737373;">Field is
              Empty</span>
          </div>
          <!-- Doctor Address field -->
          <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;">
            <label style="display:block; font-size:14px; color: #747474;">Address</label>
            <span ng-if="doctor.address.length > 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">{{doctor.address}}</span>
            <span ng-if="doctor.address.length === 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;color:#737373;">Field is
              Empty</span>
          </div>
          <!-- Doctor Website field -->
          <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;">
            <label style="display:block; font-size:14px; color: #747474;">Website</label>
            <span ng-if="doctor.website.length > 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">{{doctor.website}}</span>
            <span ng-if="doctor.website.length === 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;color:#737373;">Field is
              Empty</span>
          </div>
          <!-- Doctor Medical practice field -->
          <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;">
            <label style="display:block; font-size:14px; color: #747474;">Medical Practice Name:</label>
            <span ng-if="doctor.medicalPracticeName.length > 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">{{doctor.medicalPracticeName}}</span>
            <span ng-if="doctor.medicalPracticeName.length === 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;color:#737373;">Field is
              Empty</span>
          </div>
          <!-- Doctor Hospital Affiliations field -->
          <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;">
            <label style="display:block; font-size:14px; color: #747474;">Hospital Affiliations:</label>
            <span style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">TBD</span>
          </div>
          <!-- Doctor In Network Status field -->
          <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;">
            <label style="display:block; font-size:14px; color: #747474;">In Network Status:</label>
            <span ng-if="doctor.inNetworkStatus.length > 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">{{doctor.inNetworkStatus}}</span>
            <span ng-if="doctor.inNetworkStatus.length === 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;color:#737373;">Field is
              Empty</span>
          </div>
          <!-- Doctor Last Seen: field -->
          <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;">
            <label style="display:block; font-size:14px; color: #747474;">Last Seen:</label>
            <span ng-if="doctor.lastSceen.length > 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">{{doctor.lastSceen}}</span>
            <span ng-if="doctor.lastSceen.length === 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;color:#737373;">Field is
              Empty</span>
          </div>

          <!-- Doctor Electronic Health Record Link field -->
          <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;">
            <label style="display:block; font-size:14px; color: #747474;">Electronic Health Record Link</label>
            <span ng-if="doctor.electronicHealthRecordLink.length > 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">{{doctor.electronicHealthRecordLink}}</span>
            <span ng-if="doctor.electronicHealthRecordLink.length === 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;color:#737373;">Field is
              Empty</span>
          </div>
          <!-- Doctor Notes field -->
          <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;">
            <label style="display:block; font-size:14px; color: #747474;">Notes:</label>
            <span ng-if="doctor.notes.length > 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">{{doctor.notes}}</span>
            <span ng-if="doctor.notes.length === 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;color:#737373;">Field is
              Empty</span>
          </div>
          <!-- Doctor Contact1 field -->
          <!-- TODO: Need to make this field dynamic based on a collection -->
          <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;">
            <label style="display:block; font-size:14px; color: #747474;">Contact1:</label>
            <span ng-if="doctor.contact1.length > 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">{{doctor.contact1}}</span>
            <span ng-if="doctor.contact1.length === 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;color:#737373;">Field is
              Empty</span>
          </div>
          <!-- Doctor Contact2: field -->
          <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;">
            <label style="display:block; font-size:14px; color: #747474;">Contact2:</label>
            <span ng-if="doctor.contact2.length > 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">{{doctor.contact2}}</span>
            <span ng-if="doctor.contact1.length === 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;color:#737373;">Field is
              Empty</span>
          </div>
        </div>

        <div class="clearfix" style="clear:both; display:block; content:"";"></div>
      </div>
    </div>

    <!-- Hospitals, Rehab and Home health care agencies div -->
    <div id="hospital-rehab-home-health-header" ng-if="masterDataModel.hospital.length > 0">
      <div style="padding:20px 0;">
        <img src="personal-profile.png" style="display:inline-block; vertical-align:middle; width:5%;">
        <span
          style="display:inline-block; color: #2AABE1; font-weight: 400; font-size:16px; vertical-align:middle; margin-left:10px;">Hospitals,
          Rehab and Home health care agencies</span>
      </div>
      <div id="hospital-details" ng-repeat="hospital in masterDataModel.hospital"
        style="margin:0; margin-bottom: 10px; padding: 15px; background-color:#fff; border:1px solid #ddd; border-radius:10px;">
        <div>
          <!-- Hospital Category field -->
          <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;">
            <label style="display:block; font-size:14px; color: #747474;">Category</label>
            <span ng-if="hospital.category.length > 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">{{hospital.category}}</span>
            <span ng-if="hospital.category.length === 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;color:#737373;">Field is
              Empty</span>
          </div>
          <!-- Hospital Name field -->
          <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;">
            <label style="display:block; font-size:14px; color: #747474;">Name</label>
            <span ng-if="hospital.name.length > 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">{{hospital.name}}</span>
            <span ng-if="hospital.name.length === 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;color:#737373;">Field is
              Empty</span>
          </div>
          <!-- Hospital Address field -->
          <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;">
            <label style="display:block; font-size:14px; color: #747474;">Address</label>
            <span ng-if="hospital.address.length > 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">{{hospital.address}}</span>
            <span ng-if="hospital.address.length === 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;color:#737373;">Field is
              Empty</span>
          </div>
          <!-- Hospital Website field -->
          <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;">
            <label style="display:block; font-size:14px; color: #747474;">Website</label>
            <span ng-if="hospital.website.length > 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">{{hospital.website}}</span>
            <span ng-if="hospital.website.length === 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;color:#737373;">Field is
              Empty</span>
          </div>
          <!-- Hospital In Network status field -->
          <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;">
            <label style="display:block; font-size:14px; color: #747474;">In Network Status:</label>
            <span ng-if="hospital.inNetworkStatus.length > 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">{{hospital.inNetworkStatus}}</span>
            <span ng-if="hospital.inNetworkStatus.length === 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;color:#737373;">Field is
              Empty</span>
          </div>

          <!-- Hospital Last Seen: field -->
          <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;">
            <label style="display:block; font-size:14px; color: #747474;">Last Seen:</label>
            <span ng-if="hospital.lastSceen.length > 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">{{hospital.lastSceen}}</span>
            <span ng-if="hospital.lastSceen.length === 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;color:#737373;">Field is
              Empty</span>
          </div>

          <!-- Hospital Electronic Health Care Patient Portal field -->
          <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;">
            <label style="display:block; font-size:14px; color: #747474;">Electronic Health Care Patient Portal:</label>
            <span ng-if="hospital.electronicHealthCarePatientPortal.length > 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">{{hospital.electronicHealthCarePatientPortal}}</span>
            <span ng-if="hospital.electronicHealthCarePatientPortal.length === 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">Field is
              Empty</span>
          </div>
          <!-- Hospital Notes field -->
          <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;">
            <label style="display:block; font-size:14px; color: #747474;">Notes:</label>
            <span ng-if="hospital.notes.length > 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">{{hospital.notes}}</span>
            <span ng-if="hospital.notes.length === 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">Field is
              Empty</span>
          </div>
          <!-- Hospital Contact1 field -->
          <!-- TODO: Need to make this field dynamic based on a collection -->
          <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;">
            <label style="display:block; font-size:14px; color: #747474;">Contact1:</label>
            <span ng-if="hospital.contact1.length > 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">{{hospital.contact1}}</span>
            <span ng-if="hospital.contact1.length === 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">Field is
              Empty</span>
          </div>
        </div>

        <div class="clearfix" style="clear:both; display:block; content:"";"></div>
      </div>
    </div>

    <!-- Pharmacies HTML will come here -->

    <!-- Pharmacies And Home Medical Equipment: div -->
    <!-- <div id="pharmacy-header" ng-if="masterDataModel.pharmacy.length > 0">
      <div style="padding:20px 0;">
        <img src="personal-profile.png" style="display:inline-block; vertical-align:middle; width:5%;">
        <span
          style="display:inline-block; color: #2AABE1; font-weight: 400; font-size:16px; vertical-align:middle; margin-left:10px;">Pharmacies
          And Home Medical Equipment:</span>
      </div>
      <div id="personal-relationship"
        style="margin:0; margin-bottom: 10px; padding: 15px; background-color:#fff; border:1px solid #ddd; border-radius:10px;"
        ng-repeat="pharmacy in masterDataModel.pharmacy">
        <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;" ng-repeat="(key, value) in pharmacy">
          <label style="display:block; font-size:14px; color: #747474;">{{key+":"}}</label>
          <span id="user-name" style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;"
            ng-if="value.length > 0">{{value}}</span>
          <span id="user-name"
            style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd; color:#737373"
            ng-if="value.length === 0">Field is Empty</span>
        </div>
        <div class="clearfix" style="clear:both; display:block; content:"";"></div>
      </div>
    </div> -->

    <!-- Personal profile starts here -->
    <div id="personal-profile-header" ng-if="!isEmpty(userProfile)">
      <div style="padding:20px 0;">
        <img src="personal-profile.png" style="display:inline-block; vertical-align:middle; width:5%;">
        <span
          style="display:inline-block; color: #2AABE1; font-weight: 400; font-size:16px; vertical-align:middle; margin-left:10px;">Personal
          Profile</span>
      </div>
      <div id="profile-details"
        style="margin:0; margin-bottom: 10px; padding: 15px; background-color:#fff; border:1px solid #ddd; border-radius:10px;">
        <div>
          <!-- Profile Name field -->
          <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;">
            <label style="display:block; font-size:14px; color: #747474;">Name</label>
            <span ng-if="userProfile.name.length > 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">{{userProfile.name}}</span>
            <span ng-if="userProfile.name.length === 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;color:#737373;">Field is
              Empty</span>
          </div>
          <!-- Profile Relationship field -->
          <div style=" width:47%; float:left; padding: 0 10px; margin:0 0 10px;">
            <label style="display:block; font-size:14px; color: #747474;">Relationship</label>
            <span ng-if="userProfile.relationship.length > 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">{{userProfile.relationship}}</span>
            <span ng-if="userProfile.relationship.length === 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;color:#737373;">Field is
              Empty</span>
          </div>
          <!-- Profile Address field -->
          <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;">
            <label style="display:block; font-size:14px; color: #747474;">Address</label>
            <span ng-if="userProfile.address.length > 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">{{userProfile.address}}</span>
            <span ng-if="userProfile.address.length === 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;color:#737373;">Field is
              Empty</span>
          </div>
          <!-- Profile email field -->
          <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;">
            <label style="display:block; font-size:14px; color: #747474;">Website</label>
            <span ng-if="userProfile.email.length > 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">{{userProfile.email}}</span>
            <span ng-if="userProfile.email.length === 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;color:#737373;">Field is
              Empty</span>
          </div>
          <!-- Profile gender field -->
          <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;">
            <label style="display:block; font-size:14px; color: #747474;">Medical Practice Name:</label>
            <span ng-if="userProfile.gender.length > 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">{{userProfile.gender}}</span>
            <span ng-if="userProfile.gender.length === 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;color:#737373;">Field is
              Empty</span>
          </div>
          <!-- Profile Birthdate field -->
          <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;">
            <label style="display:block; font-size:14px; color: #747474;">Birthdate</label>
            <span ng-if="userProfile.birthDate.length > 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">{{userProfile.birthDate}}</span>
            <span ng-if="userProfile.birthDate.length === 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;color:#737373;">Field is
              Empty</span>
          </div>
          <!-- Profile Weight field -->
          <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;">
            <label style="display:block; font-size:14px; color: #747474;">Weight</label>
            <span ng-if="userProfile.weight.length > 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">{{userProfile.weight}}</span>
            <span ng-if="userProfile.weight.length === 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;color:#737373;">Field is
              Empty</span>
          </div>
          <!-- Profile Height field -->
          <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;">
            <label style="display:block; font-size:14px; color: #747474;">Height</label>
            <span ng-if="userProfile.height.length > 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">{{userProfile.height}}</span>
            <span ng-if="userProfile.height.length === 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;color:#737373;">Field is
              Empty</span>
          </div>

          <!-- Profile Language spoken field -->
          <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;">
            <label style="display:block; font-size:14px; color: #747474;">Language Spoken</label>
            <span ng-if="userProfile.languageSpoken.length > 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">{{userProfile.languageSpoken}}</span>
            <span ng-if="userProfile.languageSpoken.length === 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;color:#737373;">Field is
              Empty</span>
          </div>
          <!-- Profile Eyes field -->
          <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;">
            <label style="display:block; font-size:14px; color: #747474;">Eyes:</label>
            <span ng-if="userProfile.eyes.length > 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">{{userProfile.eyes}}</span>
            <span ng-if="userProfile.eyes.length === 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;color:#737373;">Field is
              Empty</span>
          </div>
          <!-- Profile Live alone field -->
          <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;">
            <label style="display:block; font-size:14px; color: #747474;">Do you live alone?</label>
            <span ng-if="userProfile.liveAlone.length > 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">{{userProfile.liveAlone}}</span>
            <span ng-if="userProfile.liveAlone.length === 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;color:#737373;">Field is
              Empty</span>
          </div>
          <!-- Profile Understand english field -->
          <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;">
            <label style="display:block; font-size:14px; color: #747474;">Understand English</label>
            <span ng-if="userProfile.understandEnglish.length > 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;">{{userProfile.understandEnglish}}</span>
            <span ng-if="userProfile.understandEnglish.length === 0"
              style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;color:#737373;">Field is
              Empty</span>
          </div>
        </div>

        <div class="clearfix" style="clear:both; display:block; content:"";"></div>
      </div>
    </div>



    <!-- TODO: Need to make a scope function to calculate length of dictionary -->
    <!-- <div id="personal-profile-header">
      <div style="padding:20px 0;">
        <img src="personal-profile.png" style="display:inline-block; vertical-align:middle; width:5%;">
        <span
          style="display:inline-block; color: #2AABE1; font-weight: 400; font-size:16px; vertical-align:middle; margin-left:10px;">Personal
          Profile</span>
      </div>
      <div id="personal-relationship"
        style="margin:0; margin-bottom: 10px; padding: 15px; background-color:#fff; border:1px solid #ddd; border-radius:10px;">
        <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;"
          ng-repeat="(key, value) in masterDataModel.personalProfile">
          <label style="display:block; font-size:14px; color: #747474;">{{key+":"}}</label>
          <span id="user-name" style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;"
            ng-if="value.length > 0">{{value}}</span>
          <span id="user-name"
            style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd; color:#737373"
            ng-if="value.length === 0">Field is Empty</span>
        </div>
        <div class="clearfix" style="clear:both; display:block; content:"";"></div>
      </div>
    </div> -->

    <!-- Pet profile: div -->
    <!-- <div id="pet-header" ng-if="masterDataModel.pet.length > 0">
      <div style="padding:20px 0;">
        <img src="personal-profile.png" style="display:inline-block; vertical-align:middle; width:5%;">
        <span
          style="display:inline-block; color: #2AABE1; font-weight: 400; font-size:16px; vertical-align:middle; margin-left:10px;">Pet(s)
          Details</span>
      </div>
      <div id="personal-relationship"
        style="margin:0; margin-bottom: 10px; padding: 15px; background-color:#fff; border:1px solid #ddd; border-radius:10px;"
        ng-repeat="pet in masterDataModel.pet">
        <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;" ng-repeat="(key, value) in pet">
          <label style="display:block; font-size:14px; color: #747474;">{{key+":"}}</label>
          <span id="user-name" style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;"
            ng-if="value.length > 0">{{value}}</span>
          <span id="user-name"
            style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd; color:#737373"
            ng-if="value.length === 0">Field is Empty</span>
        </div>
        <div class="clearfix" style="clear:both; display:block; content:"";"></div>
      </div>
    </div> -->

    <!-- Medical profile: div -->
    <!-- <div id="pet-header" ng-if="masterDataModel.allergy.length > 0">
      <div style="padding:20px 0;">
        <img src="personal-profile.png" style="display:inline-block; vertical-align:middle; width:5%;">
        <span
          style="display:inline-block; color: #2AABE1; font-weight: 400; font-size:16px; vertical-align:middle; margin-left:10px;">Medical
          Profile</span>
      </div>
      <div id="personal-relationship"
        style="margin:0; margin-bottom: 10px; padding: 15px; background-color:#fff; border:1px solid #ddd; border-radius:10px;"
        ng-repeat="allergy in masterDataModel.allergy">
        <div style="width:47%; float:left; padding: 0 10px; margin:0 0 10px;" ng-repeat="(key, value) in allergy">
          <label style="display:block; font-size:14px; color: #747474;">{{key+":"}}</label>
          <span id="user-name" style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd;"
            ng-if="value.length > 0">{{value}}</span>
          <span id="user-name"
            style="display:block; width:100%; padding:10px 0; border-bottom:1px solid #ddd; color:#737373"
            ng-if="value.length === 0">Field is Empty</span>
        </div>
        <div class="clearfix" style="clear:both; display:block; content:"";"></div>
      </div> -->
    <!-- TODO: Make this dynamic -->
    <!-- <div id="allergy-notes">
        <label style="display:block; font-size:14px; color: #747474;">Allergy Notes</label>
        <strong>I sometimes have an allergy attack when the pollen count is high - I take something over the counter
          like
          Benadryl.</strong>
      </div>
    </div> -->

    <!-- <div class="clearfix" style="clear:both; display:block; content:"";"></div> -->
  </div>

  <div style="page-break-after: always;"></div>
  </div>
</body>

<script>
  function getScope() {
    var outside = angular.element(document.getElementById('report-master-tag')).scope();
    return outside;
  }

  function renderReportData(reportData) {
    debugger;
    var $scope = getScope();
    var decodedData = window.atob(reportData); // decode the string
    const parsedResponse = JSON.parse(decodedData);
    $scope.masterDataModel = {
      "doctor": parsedResponse.doctor,
      "hospital": parsedResponse.hospital,
      "pharmacy": parsedResponse.pharmacy,
      "personalProfile": parsedResponse.personalProfile,
      "pet": parsedResponse.pet,
      "allergy": parsedResponse.allergy,
      "username": parsedResponse.username
    };
    $scope.userProfile = parsedResponse.personalProfile;
    console.log($scope.masterDataModel);
    $scope.$apply();
  }

  var app = angular.module("myApp", []);
  app.controller("myCtrl", function ($scope) {
    $scope.todayDate = new Date().toISOString().slice(0, 10);
    $scope.masterDataModel = {};

    $scope.isEmpty = function (dictionary) {
      return Object.keys(dictionary).length === 0
    }

  });
</script>

</html>
